@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
*{
    font-family : 'Roboto', sans-serif;
}
.

html, body {
 @apply h-screen;
 font-size: 1.3rem;
    margin: 0%;


}

body{
     background-color: #1f3442;
     background: linear-gradient(to right, #1f3442, #1f3442);
     
     

}

header{
    background-color: #01949A;
    @apply shadow-md;
    
}

#__next{
    @apply h-screen flex flex-col;
}

p,h1,h2{
    @apply text-slate-300;
    
}

