@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
*{
    font-family : 'Roboto', sans-serif;
}
.

html, body {
 @apply h-screen;
 font-size: 1.5rem;
    margin: 0%,

}


body{
     background-color: #353535;
    
     

}

header{
    background-color: #4f5d75;
    @apply shadow-md;
    
}

#__next{
    @apply h-screen flex flex-col;
}

p,h1,h2{
    color: #ffffff;
    @apply sm:pl-8;

    
}